.metamask{
    background-color: orangered;
    padding: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1rem black;
    box-shadow: 1px 1px 1rem black;
    border-radius: .5rem;
}

.metamask:hover{
    cursor: pointer;
    background-color: #dd3e04;
}

.metamaskLogo{
    width: 1rem;
    margin-left: .5rem;
    box-shadow: .2rem .2rem 1rem black;
}