:root {
  box-sizing: border-box;
  margin: 0;
  --paleta-color-1: #0A4273;
  --paleta-color-2: #2175BF;
  --paleta-color-3: #3b9cd9;
  --paleta-color-4: #8DCBF2;
  --paleta-color-5: #71c6d9;
  --font-type: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


*, *::after, *::before{
  box-sizing: border-box;
  font-family: var(--font-type);
}



body{
  margin: 0;
  background-color: var(--paleta-color-4);
  background-image: url(/assets/imagenes/home-background.png);
  background-size: cover;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  text-align: center;
}

.column{
  flex-direction: column;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#game-box{
  display: flex;
  border: .2rem solid var(--paleta-color-2);
  width: 70vw;
  min-height: 70vh;
  margin: 3em;
  background-color: var(--paleta-color-4);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/assets/imagenes/pecera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 5px black);
}

.none{
display: none;
}

.corregirTamaño img{
  width:20%;
}

#crear{
 width: 100%;
 width: 80%;
}

#abrirHuevo{
  width: 20rem;
  height: 20rem;
  flex-direction: column;
  filter: drop-shadow(1px 1px 1px black);
}

#img-huevo{
padding-bottom: 2rem;


}

#img-huevo img{
  width: 50%;
}

#informacionPescadoAlimento, #informacionPescadoNivel, #informacionPescadoId, #informacionPescadoNombre{
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10%;
  align-self: stretch;
}

#muestraPescado {
  border: .5rem solid var(--paleta-color-1);
  width: 15em;
  height: 14em;
  flex-direction: column;
  color: black;
  font-weight: bold;
  background-image: url(/assets/imagenes/pecera.jpg);
  border-radius: 10%;
  box-shadow: 0px 0px 1rem black;
}

#muestraPescado img{
  width: 42%;
}

/* div 20% */

.gameBoxDiv20{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  height: 3rem;
  background-color: var(--paleta-color-3);
  margin-bottom: 4.6em;
  margin-top: 1em;
  border-radius: 2rem;
  box-shadow: 0px 0px 1rem #0A4273;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

/* div 60% */
.gameBoxDiv60{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 15em;
  background-color: var(--paleta-color-3);
  border-radius: 8px;
  box-shadow: 0px 0px 1rem #0A4273;
}

/* div 40% */

.gameBoxDiv40{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 12em;
  background-color: var(--paleta-color-3);
  box-shadow: 0px 0px 1rem #0A4273;
  border-radius: 0px 0px 8px 8px;
}

.gameBoxDiv20 p:first-of-type{
  font-size: .8rem;
  font-weight: 100;
  color:white;
  background-color: #0A4273;
  width: 4rem;
  box-shadow: 1px 1px 1px black;
  margin-left: 1rem;
  border: 1px solid black;
}

.ruletaDiv{
  width: 18rem;
  display: flex;
  justify-content: space-evenly;
}

.btnRuleta{
width: 1.8rem;
height: 1.8rem;
position: relative;
background-color: var(--paleta-color-1);
cursor: pointer;
}

.btnRuleta img{
  width: 1.6rem;
  position: absolute;
  top: 0;
  left: 0rem;
}

.btnStaking{
  background-color: #0A4273;
  width: 4.5rem;
  height: 1.8rem;
  cursor: pointer;
  color: white;
  font-size: .7rem;
}

.divStakingClick{
  position: absolute;
  top: 10%;
  left: 33%;
  width: 30rem;
  height: 30rem;
  background-color: #0A4273;
  z-index: 50;
  box-shadow: 1px 1px 1rem black;
  display: flex;
 align-items: flex-end;
  flex-direction: column;
  border: thin solid rgb(59, 156, 217);
}

.divStakingClick p{
  color: white;
}

.cerrar{
  z-index: 60;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 2px;
  background-color: red;
  cursor: pointer;
  margin-right: .2rem;
  margin-top: .2rem;
  position: relative;
}

.cerrar:hover{
  background-color: rgb(192, 3, 3);
}


.izq{
  width: 1rem;
  border: thin  solid white;
  transform: rotate(45deg);
  position: absolute;
  top: .5rem;
  left: .05rem;

}

.der{
  width: 1rem;
  border: thin  solid white;
  transform: rotate(135deg);
  position: absolute;
  top: .5rem;
  left: .05rem;
}

.rangoContainer{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rango{
  appearance: none;
  height: .5rem;
  background: linear-gradient(90deg, rgb(59, 156, 217) 0%, rgb(113, 198, 217) 60%);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
}

.rango:hover{
  opacity: 1;
}

.rango::-webkit-slider-thumb{
appearance: none;
width: 1rem;
height: 1rem;
background-color: #0A4273;
border: thin solid black;
border-radius: 50%;
cursor: pointer;
}

.submitStake{
  background-color: var(--paleta-color-2);
  width: 4.5rem;
  height: 1.8rem;
  cursor: pointer;
  color: white;
  margin-bottom: 1rem;
}

.divTextoExplicaStake{
  box-shadow: 0px 10px 1rem black;
  width: 80%;
  background-color: #71c6d9;

}

.divTextoExplicaStake p{
  color: rgb(172, 38, 38);
  font-size: .8rem;
  font-weight: bold;
  padding: .5rem;
}

.divTextoFelicitaciones{
width: 100%;
box-shadow: 0px 10px 1rem black;
color: white;
font-size: 1rem;
font-weight: bold;
display: flex;
margin-top: 3rem;
justify-content: center;
align-items: center;
border: medium solid var(--paleta-color-2);
flex-direction: column;
}

.divTextoFelicitaciones h2{
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

.divTextoFelicitaciones span{
  color: white;
 font-style: italic;
}

.divHistorialStaking{
width: 100%;
box-shadow: 2px 10px 1rem black;
color: white;
font-size: 1rem;
font-weight: bold;
display: flex;
margin-top: 3rem;
justify-content: center;
align-items: center;
border: medium solid var(--paleta-color-2);
font-size: .75rem;
height: 13rem;
background-color: var(--paleta-color-3);

}

.divHistorialStaking h2{
  font-size: 2rem;
}

.divHistorialStaking span{
  font-size: 2rem ;
  text-align: center;
  font-style: normal;
}

.divHistorialStaking p{
    text-align: center;
  
}

.regaloAlert{
  position: absolute;
  top: 4rem;
  right: 16rem;
  z-index: 300;
  color: black ;
  font-size: .8rem;
  animation: cambiar 1s;
}

@keyframes cambiar{
0%{
  top: 4rem;
  right: 16rem;
}
10%{top: 3.5rem;}
25%{top: 3rem;}
35%{top: 2.5rem;}
50%{top: 2rem;}
65%{top: 1.5rem;}
75%{top: 1rem;}
100%{top: -200rem;}
}

.btnRegaloDiario{
   width: 4.5rem;
  color: white;
  background-color: var(--paleta-color-1);
cursor: pointer;
}

.opacity{
  opacity: 1;
}

.opacity07{
  opacity: 0.7;
}


.btnManzana{
  width: 4.5rem;
  color: white;
}


#informacionPescado{
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items:center;
}

#informacionPescado p{
   margin: .2em;
}

 .gameBoxDivInt40Target{
  border: .5rem solid var(--paleta-color-1);
  width: 10em;
  height: 10em;
  flex-direction: column;
  color: black;
  font-weight: bold;
  background-image: url(/assets/imagenes/pecera.jpg);
  border-radius: 10%;
  box-shadow: 0px 0px 1rem black; 
  justify-content: center;
  align-items: center;
  display: flex;
 }

.gameBoxDivInt40Target img{
  width: 50%;
}

.gameBoxDivInt40Target p{
  font-size: .9rem;
  margin: .1rem;
}


/* prueba boton */


.btn{
  border: 3px solid rgba(100,100,100,0.1);
  margin-top: .2em;
  width: 8em;
  height: 2em;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  color: #FFF;
  background-size: 300%;
  transition: 0.6s;
  background-image: linear-gradient(to left,#3B9CD9, #2175BF, #0A4273 );
}

.btn:hover{
  background-position: right;
}

.btn-adaptado{
  height: 4em;
}

.btn-chico{
  width: 6em;
}

.login{
  display: flex;
  justify-content: right;
  width: 10vh;
  align-items: center;
}




/* PRUEBA^*/

@keyframes animate {
    0%{
     filter: hue-rotate(0deg);
     -webkit-filter: hue-rotate(0deg);
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
 } 
 25%{
     transform: rotate(15deg);
     -webkit-transform: rotate(15deg);
     -moz-transform: rotate(15deg);
     -ms-transform: rotate(15deg);
     -o-transform: rotate(15deg);
 } 
 50%{
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
 } 
 75%{
     transform: rotate(-15deg);
     -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
     -ms-transform: rotate(-15deg);
     -o-transform: rotate(-15deg);
 } 
 100%{
     filter: hue-rotate(360deg);
     -webkit-filter: hue-rotate(360deg);
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
 }
 }

.movimientoHuevo{
  transform-origin: bottom center;
  animation: animate 1s linear infinite;
  -webkit-animation: animate 1s linear infinite;
}