/* VARIABLES */
html {

  --paleta-color-1: #0A4273;
  --paleta-color-2: #2175BF;
  --paleta-color-3: #3B9CD9;
  --paleta-color-4: #8DCBF2;
  --paleta-color-5: #71C6D9;
  --font-type: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.width-hr{
width: 70%;
margin-top: 1em;
opacity: 0.1;
}