:root {
  box-sizing: border-box;
  margin: 0;
  --paleta-color-1: #0A4273;
  --paleta-color-2: #2175BF;
  --paleta-color-3: #3b9cd9;
  --paleta-color-4: #8DCBF2;
  --paleta-color-5: #71c6d9;
  --font-type: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


*, *::after, *::before{
  box-sizing: border-box;
  font-family: var(--font-type);
}

.body{
   margin: 0;
  background-color: var(--paleta-color-4);
  background-image: url(/assets/imagenes/home-background.png);
  background-size: cover;
}

.container{
   display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.gamebox{
   display: flex;
  border: .2rem solid var(--paleta-color-2);
  width: 70vw;
  min-height: 70vh;
  margin: 3em;
  background-color: var(--paleta-color-4);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/assets/imagenes/pecera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 5px black);

}


.headerContainer{
  border-radius: 1rem;
  width: 20%;
    background-color: #2175BF;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px black;

}

.textBalance{
  color: white;
  font-size: .8rem;
  box-shadow: 1px 1px 1px black;
  padding: .5rem;
  background-color: #0A4273;
}

.btnVolver{
  color: white;
  font-size: .5rem;
  box-shadow: 1px 1px 1px black;
  background-color: #0A4273;
  height: 1.5rem;
  width: 3rem;
  margin-left: 1rem;
  cursor: pointer;
}

.fondo{
  margin-left: 5rem;
    width: 25rem;
    position: relative;
}



.rueda{
    border: thin solid black;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-image: url(/ruleta/04.jpg);
    background-position: -6.78rem;
}

.center{
    border: thin solid black;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.center:hover{
    background-color: rgb(196, 6, 6);
}


.stop{
    position: absolute;
    width: 1.6rem;
    height: 0.8rem;
    border: thin solid black;
    z-index: 20;
    top: 1.6rem;
    right: 7.4rem;
    background-color: red;
    transform: rotate(135deg);
}

img{
  z-index: 200;
  width: 2.4rem;
  position: absolute;
}

#manzana1{
  top: 2.4rem;
  right: 6rem;
}

#manzana2{
  top: 5.6rem;
  right: 15.6rem;
}

#manzana3{
  top:11.6rem;
  right: 15.6rem;
}

#manzana4{
  top: 15.2rem;
  right: 6.08rem;
}

#manzana5{
  top: 11.2rem;
  right: 2.4rem;
}

h2{
  position: absolute;
  color: white;
  z-index: 200;
  font-size: 0.8rem;

}

#textoRuleta1{
  top: 7.2rem;
  right: 1.6rem;
}

#textoRuleta2{
  top: 2.4rem;
  right: 10.4rem;
}

#textoRuleta3{
  top:15.2rem;
  right: 10.8rem;
  color: black;
}


.divPremio{
  width: 9.6rem;
  height: 12rem;
  position: absolute;
  border: thin solid black;
  background-color: blue;
  border-radius: .2rem;
  top: 33%;
  left: 45%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.cerrar{
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 2px;
  background-color: red;
  cursor: pointer;
  margin-right: .2rem;
  margin-top: .2rem;
  position: relative;
}

.cerrar:hover{
  background-color: rgb(192, 3, 3);
}


.izq{
  width: 1rem;
  border: thin  solid white;
  transform: rotate(45deg);
  position: absolute;
  top: .5rem;
  left: .05rem;

}

.der{
  width: 1rem;
  border: thin  solid white;
  transform: rotate(135deg);
  position: absolute;
  top: .5rem;
  left: .05rem;

}

.tipoPremioContainer{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.girar1{
    animation-name: rueda1; 
    animation-duration:4s;
    animation-timing-function:ease;
    animation-delay:0s;
}






  .girar2{
    animation-name: rueda2; 
    animation-duration:4s;
    animation-timing-function:ease;
    animation-delay:0s;}

    .girar3{
        animation-name: rueda3; 
        animation-duration:4s;
        animation-timing-function:ease;
        animation-delay:0s;}

        .girar4{
            animation-name: rueda4; 
            animation-duration:4s;
            animation-timing-function:ease;
            animation-delay:0s;}

            .girar5{
                animation-name: rueda5; 
                animation-duration:4s;
                animation-timing-function:ease;
                animation-delay:0s;}

                .girar6{
                    animation-name: rueda6; 
                    animation-duration:4s;
                    animation-timing-function:ease;
                    animation-delay:0s;}

                    .girar7{
                        animation-name: rueda7; 
                        animation-duration:4s;
                        animation-timing-function:ease;
                        animation-delay:0s;}
                        .girar8{
                            animation-name: rueda8; 
                            animation-duration:4s;
                            animation-timing-function:ease;
                            animation-delay:0s;}

















    @keyframes rueda1{
        0%{
          transform:rotate(0deg)
        }
        100%{
          transform:rotate(1080deg)
        }
    }


    @keyframes rueda2{
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(1125deg)
    }
    }

    @keyframes rueda3{
        0%{
          transform:rotate(0deg)
        }
        100%{
          transform:rotate(1170deg)
        }
        }

        @keyframes rueda4{
            0%{
              transform:rotate(0deg)
            }
            100%{
              transform:rotate(1215deg)
            }
            }

            @keyframes rueda5{
                0%{
                  transform:rotate(0deg)
                }
                100%{
                  transform:rotate(1250deg)
                }
                }

                @keyframes rueda6{
                    0%{
                      transform:rotate(0deg)
                    }
                    100%{
                      transform:rotate(1295deg)
                    }
                    }

                    @keyframes rueda7{
                        0%{
                          transform:rotate(0deg)
                        }
                        100%{
                          transform:rotate(1340deg)
                        }
                        }

                        @keyframes rueda8{
                            0%{
                              transform:rotate(0deg)
                            }
                            100%{
                              transform:rotate(1060deg)
                            }
                            }